//
// Front Page Base
//======================================

.page-id-100 .entry-title {
  display: none;
}

.home-register-language {
  border-bottom: 1px solid $home-register-language--border-color;
  margin: 30px 0;
}