//
// Account Navigation
//======================================

.nav-account-english, .nav-account-portuguese, .nav-login {
  font-family: $nav--font-family;
  font-family: $nav--font-family;
  @include rem(font-size, $nav--font-size);
  text-transform: uppercase;
  }

.nav-account-english ul li, .nav-account-portuguese ul li {
  display: inline;
  padding-right: 20px;
}
