//
// Main Navigation for English and Portuguese Menus
//======================================

nav.nav-english, nav.nav-portuguese {
  background-color: $main-nav--background-color;
  width: 100%;
  text-align: center;
  margin-top: 2px;
  @include media($breakpoint__screen-size--large) {
    border: none;
  }
}

#menu-main {
  font-family: $nav--font-family;
  @include rem(font-size, $nav--font-size);
}
