//
// Buttons
//======================================

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: $button--background-color;
  border: 0;
  color: $button-color;
  cursor: pointer;
  @include rem(font-size, $button--font-size );
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus {
  background-color: $button--hover-background-color;
  color: $button--hover-color;
}

.entry-content .button:hover,
.entry-content .button:focus {
  color: $button--hover-color;
}

.button {
  display: inline-block;
}

.button.register {
  display: block;
  text-align: center;
  margin: 20px 0;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
  padding: 8px 16px;
}

.site-container {
  button:disabled,
  button:disabled:hover,
  input:disabled,
  input:disabled:hover,
  input[type="button"]:disabled,
  input[type="button"]:disabled:hover,
  input[type="reset"]:disabled,
  input[type="reset"]:disabled:hover,
  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover {
    background-color: $button--disabled-background-color;
    border-width: 0;
    color: $button--disabled-color;
    cursor: not-allowed;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button {
    display: none;
  }
}