//
// Color Variables
//======================================

// Base Colors
$white: #fff;
$black: #000;
$red: #c3251d;
$orange: #BB4D00;
$purple: #4f2b7c;
$gray--lightest: #f0f0f0;
$gray--lighter: #ddd;
$gray--light: #ccc;
$gray--medium-light: #969696;
$gray--medium: #777;
$gray: #222;

// Site Colors

$base-color: $gray;

$link-color: $orange;
$link--hover-color: $purple;

$body--background-color: $gray--light;

// Header
$site-title--link-color: $gray;
$site-header--background-color: $white;

// Front Page
$home-register-language--border-color: $gray--medium;

// Elements
$hr--border-color: $gray--light;

// Form Elements
$input--background-color: $white;
$input--border-color: $gray--lighter;
$input--color: $gray;
$input--focus-border-color: $gray--medium-light;

// Buttons
$button--background-color: $orange;
$button--hover-background-color: $purple;
$button-color: $white;
$button--hover-color: $white;
$button--disabled-background-color: $gray--light;
$button--disabled-color: $gray--medium;

// Navigation
$nav--link-color: $gray;
$nav--hover-color: $red;

$main-nav--background-color: $white;
$main-nav--border-color: $gray--light;
$main-nav--link-color: $nav--link-color;

$js-nav--background-color: $white;
$js-nav--hover-color: $black;
$js-nav--focus-color: $red;

$nav-toggle--background-color: $white;
$nav-toggle-color: $gray;

$archive-pagination--background-color: $orange;
$archive-pagination-color: $white;
$archive-pagination-hoverBackgroundColor: $purple;
$archive-pagination--hover-color: $white;

// Entry
$entry-title--link-color: $gray;
$entry-title--hover-color: $red;

$entry--background-color: $white;

$entry-footer__meta--border-color: $gray--light;

$entry-content__code--background-color: $gray;
$entry-content__code--border-color: $gray--light;

// Footer
$site-footer--background-color: $white;
$site-footer--border-color: $gray--light;
$footer-widgets--background-color: $white;

// General Components
$breadcrumb--background-color: $white;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $white;
